{% extends "blogauth/base.html" %}
{% load staticfiles %}
{% block body_block %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <div class="container">     
    <div class="jumbotron">    
        <h2>Question/Answer</h2>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Ask Question</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                  <h3>Have a Question. Share with us</h3>
                  <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ add_question_form.as_p }}
                    <input type="submit" name="" class="save btn btn-default" value="Post">
                  </form>
              </div>
            </div>
          </div>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for question in question_set %}
                    <div class="post">
                        <p><strong>{{ question.group}}</strong></p>
                        <h2><a href="{% url 'questans:answer_question' pk=question.pk %}">{{ question.title }}</a></h2>
                        <p>{{ question.slug|linebreaksbr }}</p>                        
                    </div>
                    {% empty %}
                    <p>No question yet :)</p>                              
                    {% endfor %}
                </div>
            </div>
        </div>  

    </div>
  </div>
{% endblock %}


