{% extends "blogauth/base.html" %}
{% block body_block %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  {% if messages %}
  {% for message in messages %}
  
  <div class="alert alert-info alert-dismissible">
    <a href="{% url 'notification:delete_notification' pk=message.extra_tags %}" data-pk="{{ message.extra_tags }}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
   
    {{ message.message }}
  </div>
  {% endfor %}
  {% endif %}

<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the WRITE+ !</h1> 
    {% if user.is_authenticated %}
    <h2>Hello {{ user.username }}</h2>
    {% else %}
    <h2>Give new dimension for your thoughts</h2>
    {% endif %}
  </div>
</div>

{% endblock %}

